.prev {
    display: block;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    
    border-right:30px solid #352C6C; 
  }

  .next {
    display: block;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    
    border-left: 30px solid #352C6C;
  }
.prev-1 {
    display: none;
  }

  .next-1 {
    display: none;
  }